/.metadata
*.log
/bin
/JSerialPortAccess/bin
/JSerialPortAccess/build
/SerialOverEthernet/build
/TerminalSerialAccess/build
/SerialOverEthernetTCP/build
/LibCom0Com/build
/VirtualSerial/build
/VCOM/x64
/VCOM/VCOM/x64
*.tlog
/VCOM/VCOM Package/x64
/VCOM/.vs
