/.metadata
/bin
/JSerialPortAccess/bin
/JSerialPortAccess/build
*.log
/SerialOverEthernet/build
*.log
/TerminalSerialAccess/build
*.log
*.log
/SerialOverEthernetTCP/build
/SerialOverEthernetTCP/build
/SerialOverEthernetTCP/build
/SerialOverEthernetTCP/build
