[Unit]
Description=Serial Over Ethernet Server

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/opt/soe
ExecStart=/opt/soe/server-start.sh


[Install]
WantedBy=multi-user.target
