[Unit]
Description=Serial Over Ethernet Server

[Service]
Type=simple
ExecStart=/opt/soe/server-start.sh -addr ::

[Install]
WantedBy=multi-user.target
